<div class="w-full bg-white">
  <div [ngClass]="gridClass" class="grid divide-x divide-slate-200 py-1">

    @for(stat of stats; track stat.key){
    <div class="group relative px-4 py-3 hover:bg-slate-50/50 transition-all duration-500 ease-in-out">

      <div class="flex items-center gap-4">
        <div [class]="getIconTheme(stat.color)"
          class="shrink-0 w-11 h-11 rounded-xl flex items-center justify-center transition-all duration-300 group-hover:scale-110 group-hover:shadow-sm">
          <lucide-icon [name]="stat.icon" [size]="22" [strokeWidth]="1.5"></lucide-icon>
        </div>

        <div class="flex flex-col min-w-0 flex-1">
          <p class="text-[12px] font-semibold text-slate-600 uppercase tracking-[0.1em]">
            {{ stat.label }}
          </p>

          <div class="flex items-center gap-2">
            <h3 class="text-2xl font-bold text-slate-900 tracking-tight">
              {{ stat.value }}
            </h3>

            @if(stat.trend){
            <div class="flex items-center gap-0.5 mt-1">
              <lucide-icon [name]="stat.trend.isUp ? 'trending-up' : 'trending-down'" [size]="12"
                [class]="stat.trend.isUp ? 'text-emerald-500' : 'text-rose-500'">
              </lucide-icon>
              <span [class]="stat.trend.isUp ? 'text-emerald-600' : 'text-rose-600'" class="text-[11px] font-bold">
                {{ stat.trend.value }}
              </span>
            </div>
            }
          </div>
        </div>
      </div>
      <!-- <div
        class="absolute bottom-0 left-0 w-full h-0.5 bg-indigo-500 scale-x-0 group-hover:scale-x-100 transition-transform duration-300 origin-left">
      </div> -->
    </div>
    }
  </div>
</div>