<app-stat-group [stats]="stockDashboardStats"></app-stat-group>

<div class="space-y-6">
    <div class="flex-1 h-[calc(100vh-90px)] overflow-y-auto">
        <app-standard-table [title]="'Data Table'" [columns]="columns" [data]="stockList" [pagination]="pagination"
            [headerActions]="headerActions" (headerAction)="handleHeaderAction($event)"
            (pageChange)="onPageChange($event)" (loadMore)="onLoadMore()" (action)="onTableAction($event)">
        </app-standard-table>
    </div>
</div>

<!-- DRAWER FORM TEMPLATE -->
<ng-template #contactProfile let-data>
    <div class="flex flex-col h-full bg-white">
    </div>
</ng-template>