<div class="space-y-6">
    <app-table-toolbar
        [tabs]="tabs"
        [activeTab]="activeTab"
        createLabel="New Advance"
        (tabChange)="onTabChange()"
        (actionTrigger)="onToolbarAction($event)"
    ></app-table-toolbar>
    <app-smart-table
        title="Contact list"
        [columns]="tableColumns"
        [data]="contacts"
    ></app-smart-table>
</div>

<!-- DRAWER FORM TEMPLATE -->
<ng-template #contactProfile let-data>
    <div class="flex flex-col h-full bg-white">
    </div>
</ng-template>