<div class="w-full">
    <!-- Card Container with Title -->
    <div class="bg-white  border border-gray-200">
        <!-- Header Section with Title and Actions -->
        <div class="border-b border-gray-100">
            <!-- Tab Navigation -->
            <div class="flex items-center gap-1 border-b border-gray-200 -mb-px">
                @for (tab of tabs; track tab.id) {
                <button (click)="selectTab(tab.id)"
                    [ngClass]="activeTabId === tab.id ? 'text-emerald-800 font-bold  bg-emerald-100' : 'text-gray-600 hover:text-gray-900 hover:bg-gray-50'"
                    class="relative px-5 py-3 text-md font-semibold transition-all duration-200 focus:outline-none">
                    <div class="flex items-center gap-2">
                        <lucide-icon [img]="tab.icon" class="w-5 h-5">
                        </lucide-icon>

                        <span class="relative z-10">{{ tab.label }}</span>
                    </div>
                    <!-- Counter Badge (if exists) -->
                    @if (tab.count !== undefined) {
                    <span class="ml-2 px-2 py-0.5 text-xs font-bold rounded-full bg-gray-100 text-gray-600">
                        {{ tab.count }}
                    </span>
                    }
                    <!-- Active Bottom Border -->
                    @if (activeTabId === tab.id) {
                    <div class="absolute bottom-0 left-0 right-0 h-0.5 bg-emerald-400"></div>
                    }
                </button>
                }
            </div>
        </div>
        <!-- Main Content Area -->
        <div class="bg-white">
            <ng-content></ng-content>
        </div>
    </div>
</div>